{% load static %}
<header class="site-header">
  <a class="site-logo" href="{% url 'home' %}">
    <img src="{% static 'img/logo-light-theme.png' %}" alt="datakollektivet">
  </a>
  <nav class="site-nav" aria-label="Site">
    <a class="nav-link" href="{% url 'articles_index' %}"><span class="nav-mark">A</span>rticles</a>
    <a class="nav-link" href="{% url 'about' %}"><span class="nav-mark">A</span>bout</a>
    <a class="nav-join btn btn--primary btn--with-caret" href="{% url 'join' %}">
      Join
      {% include "public/partials/caret.html" %}
    </a>
  </nav>
</header>
